.Products{
    width: 100%;
    height: auto;
    background-color: #ffc600;
    display: inline-block;
}


.Product{
    width: 300px;
    height: 300px;
    display: inline-block;
   
    margin:20px;
    border-radius: 10px;
   
}






.btnVer{

    width: 100px;
    height: 40px;
    color: #fff;
    background-color: #1a1a1a;
    border-color: #1a1a1a;
}

.btnVer:hover{
   
    color:  #ffc600;
    border-color: white;
    transform: translateY(5px);
    transition: all 2s;
}

.Title{
    width: 50%;
    height: 30px;
    color: white;
    border-radius: 20px;
    background-color:#1a1a1a ;
   margin: 0 auto;
   margin-top: 20px;
 
}

.Title:hover{
    color: #ffc600;
    transform: translateX(100px);
    
    transition: all 1s;
}
.ImgsP{
border-radius: 10px;
border: 1px solid white;

}
.ImgsP:hover{
  
     
   border:1px solid black;
   transform: scale(1.02) rotate(3deg);
  
   transition: all 2s;
   
}

.Footer{
    width: 100%;
    height: auto;
    color: #fff;
    background-color: #1a1a1a;
    border-color: #1a1a1a;
    display: flex;
    padding-top: 20px;
}

.ContactUs,.Data,.Idk{
    width: 400px;
    height: 300px;
    border:1px solid white;
    margin: 20px;
   
}

.FooterSm{
    width: 100%;
    height: 50px;
    color: white;
    background-color:#ffc600 ;
}