* {
    padding: 0px;
    margin: 0px;
}

.header {
    text-align: left;
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.headerUp {
    height: 70%;
    background-color: #FFC1E9;
}

.headerDown {
    height: 30%;
    /* border: 1px green solid; */
    background-color: white;
}

/* .contenedorLogo {
    height: 100%;
    width: 300px;
    border: 1px red solid;
} */

.Logo {
    /* display: inline-block; */
    float: left;
    margin-left: 20px;
    height: 100%;
}

.headerUp p {
    display: inline-block;
    padding-top: 20px;
    height: 70%;
}

.cajaBusqueda {
    height: 100%;
    margin-right: 20px;
    float: right;
}

.cuadroTexto {
    margin: 20px 10px;
    height: 40%;
    width: 300px;
    outline: 0;
    border: none;
    border-radius: 0.25rem;
    padding: 0px 10px;
}

button {
    width: 70px;
    height: 30px;
    outline: 0;
}

.botonBuscar {
    background-color: #FF60BD;
    color: white;
    border: none;
    border-radius: 0.25rem;
    font-size: 15px;
    font-weight: bold;
    transition: all 300ms;
}

.botonBuscar:hover {
    background-color: #ff559c;
    transform: scale(1.05);
}

.nav {
    padding-left: 10%;
}

ul {
    list-style: none;
}

.nav li a {
    color: #FF60BD;
    text-decoration: none;
    padding: 5px 15px;
    display: block;
}

.nav > li {
    text-align: center;
    float: left;
    width: 150px;
    
}

.nav li a:hover {
    background-color: #FFC1E9;
    color: white;
}

.nav li ul {
    display: none;
    position: absolute;
}

.nav li:hover > ul {
    display: block;
}

.nav li ul li {
    text-align: left;
    width: 150px;
    background-color: white;
    color: white;
}

.Products{
    width: 100%;
    margin-top: 100px;
    height: auto;
    background-color: #ffc600;
    display: inline-block;
}


.Product{
    width: 300px;
    height: 300px;
    display: inline-block;
   
    margin:20px;
    border-radius: 10px;
   
}







.btnVer{

    width: 100px;
    height: 40px;
    color: #fff;
    background-color: #1a1a1a;
    border-color: #1a1a1a;
}

.btnVer:hover{
   
    color:  #ffc600;
    border-color: white;
    transform: translateY(5px);
    transition: all 2s;
}

.Title{
    width: 50%;
    height: 30px;
    color: white;
    border-radius: 20px;
    background-color:#1a1a1a ;
   margin: 0 auto;
   margin-top: 20px;
 
}

.Title:hover{
    color: #ffc600;
    transform: translateX(100px);
    
    transition: all 1s;
}
.ImgsP{
border-radius: 10px;
border: 1px solid white;

}
.ImgsP:hover{
  
     
   border:1px solid black;
   transform: scale(1.02) rotate(3deg);
  
   transition: all 2s;
   
}

.Footer{
    width: 100%;
    height: auto;
    color: #fff;
    background-color: #1a1a1a;
    border-color: #1a1a1a;
    display: flex;
    padding-top: 20px;
}

.ContactUs,.Data,.Idk{
    width: 400px;
    height: 300px;
    border:1px solid white;
    margin: 20px;
   
}

.FooterSm{
    width: 100%;
    height: 50px;
    color: white;
    background-color:#ffc600 ;
}